.App {
  text-align: center;
}

.movieListHeader {
  padding: 10px;
  position: relative;
  top: 15px;
}

.details-description {
  width: 600px;
  height: 350px;
  margin: auto;
  padding: 8px;
}

.photo {
  height: 285px;
  width: 185px;
}

.movieCard {
  width: 13%;
  height: 358px;
  background-color: #f12f2f;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.movieCard:hover {
  box-shadow: 6px 6px 6px rgb(94, 94, 94);
  transition: .2s;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
